div class="col-sm-8"></div>
    <div class="col-sm-2"></div>
    <div class="col-sm-2 my-3">
      <%= link_to "新規投稿", new_movie_path, class:"btn btn-primary btn-block" %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <% @movies.each do |movie| %>
        <table class="table table-bordered">
          <tr>
            <td class="align-middle" colspan="2"><strong>感想タイトル：</strong><%= movie.title %></td>
            <td class="col-sm-2 text-center">
              <%= link_to '詳細', movie_path(movie.id), class:"btn btn-info" %>
              <%= link_to '編集', edit_movie_path(movie.id), class:"btn btn-success" %>
              <%= link_to '削除', movie_path(movie), method: :delete, "data-confirm" => "本当に消しますか", class:"btn btn-danger" %>
            </td>
          </tr>
          <tr>
            <td class="col-sm-8" colspan="2"><strong>原作：</strong><%= movie.original %></td>
            <td class="col-sm-4 text-center"><strong>ジャンル：</strong><%= movie.genre.present? ? movie.genre.name : 'unknown' %></td>
          </tr>
          <tr class="text-center">
            <td class="col-sm-4 movie-evaluation-<%= movie.id %>" data-score="<%= movie.evaluation %>" id="evaluate_stars"><strong>評価：</strong></td>
              <script>
               $(document).on('turbolinks:load', function() {
                $('.movie-evaluation-<%= movie.id %>').raty({
                  size: 36,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  half: true,
                  readOnly: true,
                  score: <%= movie.evaluation %>
                });
               });
              </script>
            <td class="col-sm-4">♥️<%= movie.favorites.count %> いいね</td>
            <td class="col-sm-4"><strong>コメント件数：</strong><%= movie.post_comments.count %></td>
        </table>
        <br>
      <% end %>
    </div>
  </div>
  <div class="my-3"><%= paginate @movies %></div>
</div>

